/* cohort001 */
.img1 {
  background-image: url(../photos/jnalubega.jpg);
}
.img2 {
  background-image: url(../photos/cohort001/bmwesigwa.jpg);
}
.img3 {
  background-image: url(../photos/cohort001/bnakabanda.jpg);
}
.img4 {
  background-image: url(../photos/cohort001/dtkintu.jpg);
}
.img5 {
  background-image: url(../photos/cohort001/foketa.jpg);
}
.img6 {
  background-image: url(../photos/cohort001/jkatungye.jpg);
}
.img7 {
  background-image: url(../photos/cohort001/joyee.jpg);
}
.img8 {
  background-image: url(../photos/cohort001/jpoketayot.jpg);
}
.img9 {
  background-image: url(../photos/cohort001/mktendo.jpg);
}
.img10 {
  background-image: url(../photos/cohort001/onakiyimba.jpg);
}
.img11 {
  background-image: url(../photos/cohort001/rkimbugwe.jpg);
}
.img12 {
  background-image: url(../photos/cohort001/rrubanga_swimking.jpeg);
}
.img13 {
  background-image: url(../photos/cohort001/smuheki.jpg);
}
.img14 {
  background-image: url(../photos/cohort001/sobwort.jpg);
}
.img15 {
  background-image: url(../photos/cohort001/sodongo.jpg);
}

/* Cohort002 */
.img16 {
  background-image: url(../photos/cohort002/anisha.jpeg);
}
.img17 {
  background-image: url(../photos/cohort002/azaujar.jpeg);
}
.img18 {
  background-image: url(../photos/cohort002/dkalungi.jpeg);
}
.img19 {
  background-image: url(../photos/cohort002/dkomboni.jpeg);
}
.img20 {
  background-image: url(../photos/cohort002/domara.jpeg);
}
.img21 {
  background-image: url(../photos/cohort002/inyakate.jpeg);
}
.img22 {
  background-image: url(../photos/cohort002/ipsabit.jpeg);
}
.img23 {
  background-image: url(../photos/cohort002/jatima.jpeg);
}
.img24 {
  background-image: url(../photos/cohort002/jokia.jpeg);
}
.img25 {
  background-image: url(../photos/cohort002/kocciti.jpeg);
}
.img26 {
  background-image: url(../photos/cohort002/llyagoba.jpeg);
}
.img27 {
  background-image: url(../photos/cohort002/mkyla.jpeg);
}
.img28 {
  background-image: url(../photos/cohort002/rmukunde.jpeg);
}
.img29 {
  background-image: url(../photos/cohort002/samkibrom.jpeg);
}
.img30 {
  background-image: url(../photos/cohort002/sedonga.jpeg);
}
.img31 {
  background-image: url(../photos/cohort002/shadbash.jpeg);
}
.img32 {
  background-image: url(../photos/cohort002/skawooya.jpeg);
}
.img33 {
  background-image: url(../photos/cohort002/sppatel.jpeg);
}
.img34 {
  background-image: url(../photos/cohort002/timkato.jpeg);
}
.img35 {
  background-image: url(../photos/cohort002/tmasiko.jpeg);
}
.img36 {
  background-image: url(../photos/cohort002/twmwandha.jpeg);
}
