body {
    text-align: center;
    margin: auto;
}

.main {
    width: 35%;
    align-content: center;
    text-align: center;
    border: 1px solid #542a52;
    margin-left:30%;
}

.header {
    background-color: #542a52;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    font-size:40px;
}

.redd {
    background-color: #c00000;
    text-align: left;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    padding: 25px;
}

.content {
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 80px;
    padding-top:60px;
    color: #542a52;
}

#input1 {
    width: 96%;
    height: 30px;
    border-radius: 3px;
    border: 1px solid red;
    padding-left: 10px;
}
    #input2 {
    width: 96%;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #542a52;
    padding-left:10px;
}

#btn1 {
    width: 100%;
    color: #542a52;
    height: 40px;
    border: 1px solid #542a52;
    border-radius: 3px;
    background-color: #fff;
    font-size: 20px;
}

#btn2 {
    width: 49%;
    color: #ffffff;
    height: 40px;
    border-color: #542a52;
    background-color: #542a52;
    border-radius: 3px;
    font-size: 20px;
}

#btn3 {
    width: 49%;
    color: #542a52;
    height: 40px;
    border: 1px solid #542a52;
    background-color: #fff;
    border-radius: 3px;
    font-size: 20px;
}

#para {
    color: red;
}
