/* .App {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  

 }  */

#primary-button {
  background-color: #542a52;
  width: 100%;
  text-transform: capitalize;
  border-radius: 2px;
  margin-left: -22px;
  border: 1px solid #542a52;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

.Auth-form1-wrapper {
  width: 100%;
  border: 1px solid #542a52;
  margin-bottom: 10px;
}

.Auth-form1-Header {
  width: 100%;
  height: 75px;
  background-color: #542a52;
  color: #fff;
  text-align: center;
  padding-top: 20px;
  /* font-size: 50px;
  font-weight: bold; */
}

.Auth-form1-Error-Header {
  width: 100%;
  min-height: 75px;
  background-color: #c00000;
  color: #fff;
  padding: 20px;
  display: none;
}

.password-error,
.email-error {
  width: 100%;
  min-height: 10px;
  background-color: #fff;
  color: #c00000;
  display: none;
}
.form-error-outline {
  border: 1px solid #c00000;
}

.Auth-form1-Body {
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 30px;
}

.Auth-form1-field-group {
  text-align: left;
  width: 100%;
  font-weight: bold;
  color: #542a52;
  margin-left: -10px;
}

#emailHelp {
  color: #c00000;
}
.Auth-form1-btn-group {
  margin-left: 13px;
  font-weight: bold;
  color: #542a52;
  margin-right: -8px;
}
#Auth-form1-btn-login {
  margin-left: -23px;
  /* margin-right: 20px; */
}

#cancel-button,
#cancel-btn {
  width: 100%;
  background-color: #fff;
  color: #542a52;
  border: 1px solid #542a52;
  border-radius: 2px;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: bold;
}
#cancel-button {
  margin-left: -23px;
}

.vertical-spacing1 {
  height: 10px;
}

.form-wrapper {
  border: 1px solid #542a52;
}

.form-header {
  height: 65px;
  width: 100%;
  background-color: #542a52;
  color: #fff;
  font-weight: bold;
  padding: 15px;
  margin-bottom: 11%;
}

label {
  text-align: left;
  color: #542a52;
}

.vertical-spacing2 {
  height: 20px;
}

.vertical-spacing3 {
  height: 30px;
}

#signup-email-input,
#Auth-form1-input1,
#Auth-form1-input2,
#signup-password-input,
#login-button {
  border: 1px solid #542a52;
  border-radius: 0px;
  /* margin-top: -15px; */
}

#login-button:hover,
#signup-btn:hover {
  background-color: #542a52;
  color: #fff;
}
#login-button {
  margin-left: 0px;
}

#login-button,
#signup-btn {
  width: 100%;
  background-color: #fff;
  color: #542a52;
  border: 1px solid #542a52;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: bold;
}

.Auth-form1-input1 {
  width: 100%;
}
.widest {
  width: 100%;
}

.app-inputs {
  width: 100%;
}

#login-btn {
  background-color: #542a52;
  width: 100%;
  font-weight: bold;
  text-transform: capitalize;
  border-radius: 2px;
  border: 1px solid #542a52;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

#Auth-form1-btn-margin,
#Auth-form1-btn-signup {
  margin-left: -23px;
  margin-right: -8px;
}
