.App {
  text-align: center;
  /* font-family: Arial, Helvetica, sans-serif */
}
.form-wrapper {
  border: 1px solid #542a52;
}
.form-header {
  height: 65px;
  width: 100%;
  background-color: #542a52;
  color: #fff;
  font-weight: bold;
  padding-top: 15px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 11%;
}

/* .login-error {
  height: 65px;
  background-color: red;
  color: white;
  margin-bottom: 10px;
} */

label {
  float: left;
  margin-left: 10%;
  color: #542a52;
  font-weight: bolder;
  font-size: 24px;
}

input[type="email"],
input[type="password"],
#signup-button {
  height: 42px;
  width: 80%;
  margin-bottom: 11%;
  border: 1px solid #542a52;
}
.form-btns {
  display: flex;
  margin-left: 8%;
  margin-bottom: 5%;
}
#login-button,
#cancel-btn {
  height: 42px;
  width: 209px;
  font-weight: bolder;
  font-size: 22px;
}

#login-button {
  background-color: #542a52;
}

#cancel-btn {
  background-color: #fff;
  color: #542a52;
  border: 1px solid #542a52;
}

#signup-button {
  background-color: #fff;
  color: #542a52;
  border: 1px solid #542a52;
  margin-top: 5%;
  font-weight: bolder;
  font-size: 22px;  
}
