.App {
  text-align: center;
  font-family: "Arial Narrow";
}
#primary-button {
  background-color: #542a52;
  width: 100%;
  font-weight: bold;
  text-transform: capitalize;
  border-radius: 2px;
  margin-left: -17px;
  font-family: "Arial Narrow";
}

.Auth-form1-wrapper {
  width: 100%;
  /* height: 600px; */
  /* background-color: grey; */
  border: 1px solid #542a52;
  margin-bottom: 10px;
}

.Auth-form1-Header {
  width: 100%;
  height: 80px;
  background-color: #542a52;
}

.Auth-form1-Error-Header {
  width: 100%;
  height: 80px;
  background-color: #c00000;
}

.Auth-form1-Body {
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 30px;
}

.Auth-form1-field-group {
  text-align: left;

  font-weight: bold;
  color: #542a52;
}

#emailHelp {
  color: #c00000;
}
.Auth-form1-btn-group {
  margin-top: 20px;
  margin-left: 10px;
  font-weight: bold;
  color: #542a52;
}

#cancel-button {
  width: 100%;
  background-color: #fff;
  color: #542a52;
  border: 1px solid #542a52;
  border-radius: 2px;
  font-weight: bold;
  text-transform: capitalize;
  margin-left: -15px;
  font-family: "Arial Narrow";
}

.vertical-spacing1 {
  height: 10px;
}

.vertical-spacing2 {
  height: 20px;
}

.vertical-spacing3 {
  height: 30px;
}

#signup-email-input,
#signup-password-input {
  border: 1px solid #542a52;
  border-radius: 0px;
}

#login-button:hover {
  background-color: #542a52;
  color: #fff;
}

#login-button {
  width: 100%;
  background-color: #fff;
  color: #542a52;
  border: 1px solid #542a52;
  text-transform: capitalize;
  margin-left: -15px;
}
